.App-container {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: transparent;
  align-items: center;
  justify-content: space-around;
}

.sidebar {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sidebar > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}
.right-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100%; /* Take full height of its container */
}

.qr-code-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .App-container {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
  }

  .sidebar {
    width: 100%;
    padding: 10px 0;
  }

  .right-container {
    width: 100%;
    height: auto;
  }
}
